.banner{
  text-align: center;
  color: white;
  padding: 130px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url(https://media.discordapp.net/attachments/702568810900750527/1167546852753821796/bannier20background.png?ex=654e85bd&is=653c10bd&hm=7d4bdb933fe7e71d2361185b38af8265a201c15561ecccdc5a5500128775a0f0&=&width=1440&height=688);
  background-size: cover;
  background-position: center;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
  color: rgb(145, 101, 38);
  text-shadow: 1px 1px 2px black;
}

