.btn-brown {
    background-color: rgb(125, 77, 9);
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
}


#btn-brown:hover {
    background-color: #0056B3;
}
